<html>

<head>
    <link rel="shortcut icon" href="/static/bin/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/bin/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/bin/css/spectre.min.css" />
    <link rel="stylesheet" href="/static/bin/css/hexopress.css" />
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="root">
    </div>
    <!--Welcome!-->
    
    <!-- <footer class="bg-grey">
        <section id="copyright" class="grid-footer container grid-960">
          <p>Designed and built with ♥ by <a href="https://twitter.com/vettijoe" target="_blank">Joe Lewis</a>.</p>
        </section>
    </footer> -->

    <script>
        window.hexopress = {
            user: {
                email: '{{ user.email }}',
                username: '{{ user.username }}',
                name: '{{ user.name }}',
                accountinfo_filled: {{ user.accountinfo_filled }}
            },
            blog: {
                title: '{{ blog.title }}',
                subtitle: '{{ blog.subtitle }}',
                description: '{{ blog.description }}',
                is_generated: {{ blog.is_generated }},
            }
        };
    </script>
    <script src="/static/bin/bundle.js"></script>
</body>

</html>
